<div class="container p-4">
  <h1 class="text-center">Template Driven Form</h1>
  <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
    <div ngModelGroup="userDetails" #userDetails="ngModelGroup" class="user-details-group rounded px-3">
      <div class="form-group">
        <label for="username">Username *</label>
        <input class="form-control" type="text" id="username" placeholder="Enter username" name="username" [(ngModel)]="username" required>
        <small *ngIf="username">Your username is: {{username}}</small><ng-container *ngIf="username"><br></ng-container>
        <button type="button" class="btn btn-primary mt-1 mr-5" (click)="setValues()">Set Value</button>&nbsp;
        <button type="button" class="btn btn-primary mt-1" (click)="pathchValues()">Patch Value</button>
      </div>
      <div class="form-group">
        <label for="email">Email *</label>
        <input class="form-control" type="email" id="email" placeholder="Enter Email" name="email" ngModel email required #email="ngModel" >
        <small *ngIf="!email.valid && email.touched" class="text-danger">Please enter valid email</small>
      </div>
      <span *ngIf="!userDetails.valid && userDetails.touched" class="text-danger px-2 border border-danger rounded mb-2 d-inline-block">Please Enter Valid Details</span>
    </div>
    <div class="form-group px-3">
      <label for="course">Select Course</label>
      <select class="form-control" id="course" class="form-control" name="course" [(ngModel)]="defaultCourse">
        <option value="Angular">Angular</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Html">Html</option>
      </select>
    </div>
    <div class="form-group px-3">
      <div class="custom-control custom-radio" *ngFor="let gender of genders">
        <input type="radio" id="{{gender.id}}" value="{{gender.value}}" name="gender" class="custom-control-input" [(ngModel)]="defaultGender">
        <label class="custom-control-label px-2" for="{{gender.id}}">{{gender.value}}</label>
      </div>
    </div>
    <div class="mx-3">
      <button [disabled]="!myForm.valid" type="submit" class="btn btn-success mt-2">Submit</button>
    </div>
  </form>

  <div *ngIf="submitted" class="p-3">
    <h2>Form Data</h2> 
    <p>Username: <b>{{formData.username}}</b></p>
    <p>Email: <b>{{formData.email}}</b></p>
    <p>Course: <b>{{formData.course}}</b></p>
    <p>Gender: <b>{{formData.gender}}</b></p>
  </div>
</div>
